{{ define "envido_selector" }}
<div id="current-action"
    class="player-card bg-slate-800 border border-slate-700 rounded-md shadow-xl animate-in slide-in-from-left duration-300">
    <div class="px-3 py-2">
        <h3 class="text-white font-bold text-xs tracking-wider flex items-center gap-2">
            Envido
        </h3>
    </div>

    <form hx-get="/track-act" hx-target="#tracker-grid" hx-swap="beforeend" hx-include="this">
        <input type="hidden" name="action" value="Canta">
        <input type="hidden" name="state" value="{{ .State }}">

        <!-- Envido Combination Selection -->
        <!-- TODO make sure we can see full text (overflow) -->
        <div class="mb-4">
            <div class="relative">
                <select name="combination_idx"
                    class="w-full appearance-none bg-slate-900 border border-slate-600 rounded px-3 py-2 text-xs text-white focus:outline-none focus:border-blue-500 cursor-pointer">
                    {{ range $i, $combo := .Envidos }}
                    <option value="{{ $i }}">
                        {{ range $j, $act := $combo }}
                        {{ if $j }} + {{ end }} {{ $act }}
                        {{ end }}
                    </option>
                    {{ end }}
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-slate-400">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                </div>
            </div>
        </div>

        <div class="mb-4">
            <div class="">
                {{ range .Players }}
                <div class="flex flex-row items-center">
                    <input type="number" name="score_{{ . }}" min="0" max="33" required
                        class="w-full bg-slate-900 border border-slate-600 rounded px-1 py-1 text-center text-xs text-white focus:outline-none focus:border-blue-500"
                        placeholder="Jugador {{.}}">
                </div>
                {{ end }}
            </div>
        </div>

        <!-- Validation logic: checkValidity/reportValidity before disabling the card -->
        <button type="submit"
            onclick="if(!this.form.reportValidity()) { event.preventDefault(); return false; } this.closest('.player-card').classList.add('pointer-events-none', 'opacity-60')"
            class="w-full action-btn px-3 py-1 text-slate-300 text-xs font-medium cursor-pointer transition-all hover:bg-slate-700/50 hover:border-slate-500/50 select-none">
            Ok
        </button>
    </form>
</div>
{{ end }}